#content {
  height: 100%;
}

#content.ng-enter{
  opacity: 1;
  background-color: red;
}

#content.ng-leave{
  opacity: 0;
  background-color: blue;
}

#helper-content {
    color: rgb(97, 97, 97);
    background-color: #ebebeb;  
    border-color: #c8c8c8;
    height: 100%;
    padding-top: 10px;
}

.fruit {
  text-align: center;
  background-color: #ebebeb;
  padding: 40px 0;
  margin: 20px 20px 0 0;
}

.fruit p {
  margin: 0;
}

.navbar {
  border-radius: 0;
  border: 0;
}

#main-content {
    background-color: #ffffff;
    height: 100%;
    color: rgb(59, 58, 60);
    padding-top: 10px;
    padding-left: 25px;
}

#menu {
    height: 100%;
    background-color: #3b3b3b;
    padding: 0;
}

#menu .navbar-nav li{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid;
   
}

#menu .navbar-nav li a {
    font-size: 24px;
    padding: 30px 0;
    background-color: #616161;
    color: #ffffff;
}

.selected {
  width: 6px;
  height: 80px;
  background-color: #3599db;
  float: right;
  position: absolute;
  right: -6px;
  top: 0px;
  display: none;
}

#view-window {
    height: 500px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}